@font-face {
	font-family: 'Silkscreen-regular'; 
	src: url(fonts/Silkscreen/Silkscreen-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal; 
}

@font-face {
	font-family: 'BarcadeBrawlRegular'; 
	src: url("fonts/BarcadeBrawlRegular/BarcadeBrawlRegular.ttf");
    /* font-style: normal;
    font-weight: normal;  */
}